<body>
  <div class="content-center">
    <div id="tv-status">TV Status: <span></span></div>
    <button id="ligar-tv" onclick="toogleTv('1')">Ligar/Desligar TV 1</button>
  </div>

  <script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/functions.js"></script>
</body>
