<body>
    <center><h1>Sistema de Monitoramento Abelhas<h1></center>
    <center><h3>Horário atual: <div id="horario"></div></h3></center>

    <div id="menu">
      <ul>
        <li><a href="#" id="ltempoReal" title="tempoReal" class="active">Tempo_Real</a></li>
        <li><a href="#" id="lhistorico" title="historico" >Histórico</a></li>
      </ul>
    </div>
    
    <div id="GraphsGrid"></div>

    <div id="historico" class="graph">
      Nome do ponto: <select id="nodesBox" name="node">
      </select>
      <button type="button">Adicionar gráfico!</button>
    </div>

    <script language="javascript" type="text/javascript" src="/lang/statusMsgPT.json"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/jquery.flot.js"></script>	
    <script language="javascript" type="text/javascript" src="/javascripts/graphs.js"></script>

</body>
