<body>
    <center><h1>Sistema de Monitoramento<h1></center>
    <center><h3>Horário atual: <div id="horario"></div></h3></center>
    
    <div class="image">
        <center><img src="bee.gif" style="display:none" id="theBee"></center>
    </div>

    <div id="menu">
      <ul>
        <li><a href="#" id="ltempoReal" title="tempoReal" class="active">Tempo Real</a></li>
        <li><a href="#" id="lhistorico" title="historico" >Histórico</a></li>
        <li><a href="#" id="lexportar" title="exportar" >Exportar</a></li>
        <li><a href="#" id="llimpar" title="limpar" >Limpar</a></li>
      </ul>
    </div>

    <br>

    <div id="loading">
      <center>
        <img src="loading.gif" alt="Carregando" style="width:32px;height:32px">
        <p>Aguarde enquanto buscamos os dados...</p>
      </center>
    </div>
    
    <div id="GraphsGrid">
      <center>
      <br><br>
      Time Interval (minutes): <input type="number" id="intervalVal" min="1" value="15"> 
      </center>
    </div>

    <div id="historico">
      <center>
      <br>
      Nome do ponto: <select id="nodesBox" name="node">
      </select>
      <button id="addHist" type="button">Visualizar histórico!</button>
      </center>
      <div id="HistoricGrid"></div>
    
    </div>

    <script language="javascript" type="text/javascript" src="/lang/statusMsgPT.json"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/konami.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/flot/jquery-ui.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.js"></script>	
    <script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.rangeselection.js"></script>	
    <script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.time.js"></script>	
    <script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.selection.js"></script>	
    <script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.resize.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.downsample.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/graphs.js"></script>


</body>
