.graph {
  width: 70%;
  padding: 20px 15px 15px;
  margin: 15px auto 30px;
/*  border: 1px solid rgb(221, 221, 221);
  background: linear-gradient(rgb(246, 246, 246) 0px, rgb(255, 255, 255) 50px) repeat scroll 0% 0% transparent;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);*/
}

.image {
  position:fixed;
}

#interval {
  position: relative;
  float:right;
}

#loading {
  display: none;
}

a.boxclose{
  float:right;
  margin-top:-20px;
  margin-right:-10px;
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;       
}

.boxclose:before {
  content: "×";
}

.tickLabel {
  font-size: 180%;
}

.legendLabel {
  font-size: 180%;
}

